AWS_REGION=us-east-1
ORDERS_TABLE=lastoya-candleco-orders-dev
PRODUCTS_TABLE=lastoya-candleco-products-dev
IMAGES_BUCKET=lastoya-candleco-images-dev
ADMIN_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost:3000
